.oauth-menu-container

	h4.mbl Sign in using an existing account...

	ul.oauth-menu.mbl.clearfix
		li
			a.social-icon-lite-facebook-squared.large(href="/auth/facebook") 
		li
			a.social-icon-lite-instagram-squared.large(href="/auth/instagram") 
		li
			a.social-icon-lite-twitter-squared.large(href="/auth/twitter") 
		li
			a.social-icon-lite-gplus-squared.large(href="/auth/google")